<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teddywilson.animationspractice" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.propertyAnimator.FadeActivity" />
        <activity android:name=".activities.propertyAnimator.DotsActivity" />
        <activity android:name=".activities.ScaleActivity" />
        <activity android:name=".activities.ViewPagerActivity" />
        <activity android:name=".activities.propertyAnimator.ExpandingFABActivity" />
        <activity android:name=".activities.PinkActivity" />
        <activity android:name=".activities.transitions.SharedImgActivityA" />
        <activity android:name=".activities.transitions.SharedImgActivityB" />
        <activity android:name=".activities.gestures.GestureActivity" />
        <activity android:name=".activities.gestures.TouchInterceptActivity" />
        <activity android:name=".activities.gestures.ExpandTouchActivity" />
        <activity android:name=".activities.CardFlipActivity" />
        <activity android:name=".activities.PhotoGalleryActivity" />
        <activity android:name=".activities.PhotoDetailsActivity" />
        <activity android:name=".activities.gestures.DragActivity" />
        <activity android:name=".activities.propertyAnimator.SnakeActivity" />
        <activity android:name=".activities.transitions.TransitionsBasicActivityA" />
        <activity android:name=".activities.transitions.TransitionsBasicActivityB" />
        <activity android:name=".activities.scenes.SceneActivity" />

    </application>

</manifest>